<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WaterCommunications.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WaterCommunications.CustomSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="WaterCommunications.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>

    <userSettings>
        <WaterCommunications.Properties.Settings>
            <setting name="language" serializeAs="String">
                <value>English</value>
            </setting>
            <setting name="tbH" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="tbHMin" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="tbAccidentPercent" serializeAs="String">
                <value>70,0</value>
            </setting>
            <setting name="cbOnlyMainInfo" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mLanguageEnglish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mLanguageRussian" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mSystemOfUnitsSI" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="mSystemOfUnitsGOST" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="tbMainStationId" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="tbRepairSectionMinimumLength" serializeAs="String">
                <value>0,5</value>
            </setting>
            <setting name="tbLoadPath" serializeAs="String">
                <value />
            </setting>
            <setting name="tbSavePath" serializeAs="String">
                <value />
            </setting>
            <setting name="tbAdditionalHeadLoss" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="cbPipeMaterialSelectedIndex" serializeAs="String">
                <value>0</value>
            </setting>
        </WaterCommunications.Properties.Settings>
        <WaterCommunications.CustomSettings>
            <setting name="language" serializeAs="String">
                <value>0</value>
            </setting>
        </WaterCommunications.CustomSettings>
        <WaterCommunications.Settings>
            <setting name="language" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fu" serializeAs="String">
                <value />
            </setting>
        </WaterCommunications.Settings>
    </userSettings>
</configuration>